<div class ="container">
    <h1>{{title}}</h1>

    <form [formGroup] = "employeesForm" class = "edit-form" >
        <mat-form-field appearance="outline">
            <mat-label>Employee Id</mat-label>
            <input matInput placeholder = "Id" formControlName = "id">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Employee FirstName</mat-label>
            <input matInput placeholder = "First Name" formControlName = "firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Employee LastName</mat-label>
            <input matInput placeholder = "Last Name" formControlName = "lastName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Employee position</mat-label>
            <input matInput placeholder = "Position" formControlName = "position">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Service Id</mat-label>
            <input matInput placeholder = "ServiceId" formControlName = "Service_AutoId">
        </mat-form-field>
    </form>
    <div class ="actions">
        <div class = "button-wrapper" (click) = "closeDialog()">
            Cancel
        </div>
        <div class = "button-wrapper" (click) = "saveDialog()">
            Save
        </div>
    </div>
</div>